<div id="loginFormContainer" class="mt-5">
    <h1>Login Page</h1>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Email or Username</label>
            <input 
                type="text" 
                class="form-control rounded-pill" 
                id="username" 
                name="username" 
                autocomplete="username" 
                required
            >
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input 
                type="password" 
                class="form-control rounded-pill" 
                id="password" 
                name="password" 
                autocomplete="current-password" 
                required
            >
        </div>

        <div class="mt-4">
            <button type="button" class="btn btn-primary rounded-pill w-100" id="loginBtn">
                Login!
            </button>
        </div>
    </form>
</div>